{% extends "parent.html" %}

{% block title %}
  Sign Up
{% endblock %}

{% block pagename %}
  Create an Account
{% endblock %}

{% block content %}
  Join us!
  <form action = "/join" method="POST">
    <p>
    Create Username: 
    <input type="text"name="new_user"><br>
    Create Password:
    <input type="password" name="new_password"><br>
    <input type = "submit"value = "Sign Up"> {# to homepage #}
    </p>
  </form>
  <form action = "/" method="GET">
    <p>
    <input type = "submit" value = "Back"> {# to welcome page #}
    </p>
  </form>
{% endblock %}
