<!DOCTYPE html>
<head>
  {% block head %}
  <title> {% block title %} {% endblock %}
    || little_bobby_tables
  </title>
  {% endblock %}
</head>
<body>
  {% block pagename %}
  <h1>little_bobby_tables</h1>
  {% endblock %}
  {% block message %}
  <p> {% set messages = get_flashed_messages() %}
    {% for message in messages %}
      {{ message }} <br />
    {% endfor %}
  </p>
  {% endblock %}

  {% block logout %}
    {% if username %}
      Welcome {{username}}!
      <form action = "/logout" method="GET">
        <input type = "submit" value = "Logout">
      </form>
    {% else %}
      You are not logged in.
    {% endif %}
  {% endblock %}

  <br>
  {% block content %}
  {% endblock %}
  <br>
  {% block footer %}
    Copyright 2019
    <br>
    <!-- KV: can this be plaintext? it won't change between pages and its a little annoying to pass in name/rost on every page -->
    {{ team }} <br> {{ rost }}
  {% endblock %}
</body>
